<!--include header-->
<%-include('include/_header')%>
<!--/include header-->

<main id="site-main">
    <div class="container">
        <div class="box-nav d-flex-justify-between">  
            <div class="filter">
                <a href="/"><i class="fas fa-angle-double-left"></i>All Students</a>
            </div>
        </div>
        <div class="form-title text-center">
            <h2 class="text-dark">Enroll a Student</h2>
            <span class="text-light"> Student the below form to create a new account</span>
        </div>
        <!-- form handling -->
      <%- include('include/_form')%>
    </div>
</main>
<!-- add student -->
<!--include footer-->
<%-include('include/_footer')%>
<!--/include footer-->