<form action="/api/student" method="POST" id="add_student" name="myform" onsubmit="return validation()">
    <div class="new_student">
        <div class="form-group">
            <label for="name" class="text-light">Name</label>
            <input type="hidden" name="id" value="">
            <input type="text" name="name" value="" placeholder="Enter Name">
        </div>
        <div class="form-group">
            <label for="name" class="text-light">lastName</label>
            <input type="hidden" name="id" value="">
            <input type="text" name="lastname" value="" placeholder="Enter last Name">
        </div>
        <div class="form-group">
            <label for="Email" class="text-light">Email</label>
            <input type="text" name="email" value="" placeholder="Enter Email">
        </div>
        <div class="form-group">
            <label for="number" class="text-light">Mobile</label>
            <input id="numero"  name="mobile" value="" placeholder="Enter Number" type="text" class="numer">
            <span id="spa"></span>
        </div>
        <div class="form-group">
            <label for="Gender" class="text-light">Gender</label>
            <div class="radio inline">
                <input type="radio" id="radio-2" name="gender" value="Male">
                <label for="radio-2" class="radio-label">Male</label>
            </div>
            <div class="radio inline">
                <input type="radio" id="radio-3" name="gender" value="Female">
                <label for="radio-3" class="radio-label">Female</label>
            </div>
        </div>

            <div class="form-group">
                <label for="gender" class="text-light">Status</label>
                <div class="radio inline">
                    <input type="radio" id="radio-4" name="status" value="Active">
                    <label for="radio-4" class="radio-label">Active</label>
                </div>
                <div class="radio inline">
                    <input type="radio" id="radio-5" name="status" value="Inactive">
                    <label for="radio-5" class="radio-label">Inactive</label>
                 </div>
            </div>

            <div class="form-group">
                <button type="submit" class="btn text-dark update">Save</button>
            </div>

        </div>
    </div>
</form>