<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crud Application</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
        <header id="header">
            <nav class="container">
                <div class="text-center">
                    <a href="/../frontend/index.html" class="nav-brand text-dark">Back to Main Page</a>
                </div>
            </nav>
            <nav class="container">
                <div class="text-center">
                    <a href="/" class="nav-brand text-dark">Student Management System</a>
                </div>
            </nav>
        </header>