<% for(var i = 0; i < student.length; i++) { %>
  <tr>
      <td><%= i + 1 %></td>
      <td><%= student[i].name %></td>
      <td><%= student[i].lastname %></td>
      <td><%= student[i].email %></td>
      <td><%= student[i].mobile %></td>
      <td><%= student[i].gender %></td>
      <td><%= student[i].status %></td>
      <td>
          <a href="/update-student?id=<%=student[i]._id%>"class="btn border-shadow update">
              <span class="text-gradient"><i class="fas fa-pencil-alt"></i></span>
          </a>
          <a class="btn border-shadow delete" data-id=<%=student[i]._id%>>
              <span class="text-gradient"><i class="fas fa-times"></i></span>
          </a>
      </td>
  </tr>
  <% } %>